gyms collection
{
    gymId,
    name,
    address,
    username,
    password,
    createdDate
    hours {
        "7": {total: 10, current: 5}
        "8": total: 10, current: 3}
        "9": total: 8, current: 0}
    }
}

booking collection
{
    bookingId,
    gymId,
    email,
    name,
    hour,
    createdDate
}