<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Gym Booking, Gym, Booking">
    <meta name="author" content="">
    <meta name="subject" content="Gym Booking">
    <meta name="abstract" content="Gym booking website">
    <meta name="topic" content="Gym booking website">
    <meta name="summary" content="Gym booking website">
    <meta name="designer" content="Ahmed Al-Zubidy">
    <meta name="owner" content="Ahmed Al-Zubidy">
    <meta name="url" content="http://www.xxxx.com">
    <meta name="identifier-URL" content="http://www.xxxx.com">
    <meta name="pagename" content="Gym Booking">
    <meta name="target" content="all">
    <link rel="bookmark" title="Gym Booking" href="http://www.xxxx.com">

    <!-- Icon -->
    <link rel="icon" href="img/websiteIcon.png">

    <title>Gym Booking</title>

    <!-- AngularJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>

    <!-- Popper.js, then Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

    <!-- Loadash -->
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.15/lodash.min.js"></script>

    <!-- Data Tables -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,300,400,700" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- Font Awesome  -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

    <!-- Custom Imports -->
    <link rel="stylesheet" href="css/gym.css">
    <script src="scripts/index.js"></script>

</head>

<body>
    <section class="container-fluid" ng-controller="gymController">
        <div class="row">
            <!-- <div class="col d-flex flex-column justify-content-between" id="mainCol">
                <div class="row justify-content-center" id="homeRow">
                    <a href="#/!">Home</span></a><br>
                    <a href="#!admin">Admin</a><br>
                </div> -->

            <div id="countRow">
                <div id="countDiv">
                    <h1>{{gymName}}</h1> <br>
                    <h5>{{gymAddress}}</h5><br><br>

                    <h2>Current Time</h2><br><br>
                    <div class="clock">
                        <div class="digit tenhour">
                            <span class="base"></span>
                            <div class="flap over front"></div>
                            <div class="flap over back"></div>
                            <div class="flap under"></div>
                        </div>

                        <div class="digit hour">
                            <span class="base"></span>
                            <div class="flap over front"></div>
                            <div class="flap over back"></div>
                            <div class="flap under"></div>
                        </div>

                        <div class="digit tenmin">
                            <span class="base"></span>
                            <div class="flap over front"></div>
                            <div class="flap over back"></div>
                            <div class="flap under"></div>
                        </div>

                        <div class="digit min">
                            <span class="base"></span>
                            <div class="flap over front"></div>
                            <div class="flap over back"></div>
                            <div class="flap under"></div>
                        </div>

                        <div class="digit tensec">
                            <span class="base"></span>
                            <div class="flap over front"></div>
                            <div class="flap over back"></div>
                            <div class="flap under"></div>
                        </div>

                        <div class="digit sec">
                            <span class="base"></span>
                            <div class="flap over front"></div>
                            <div class="flap over back"></div>
                            <div class="flap under"></div>
                        </div>

                    </div><br><br>

                    <div id="capacity">
                        <div id="current">
                            <h2>Booked</h2>
                            <h1>{{currentHour}}</h1>
                        </div>
                        <div id="total">
                            <h2>Total</h2>
                            <h1>{{totalHour}}</h1>
                        </div>
                    </div>

                    <div class="form-group" id="timeDropDownDiv">
                        <select class="form-control" ng-model="selectedHourView" ng-options="x for x in hoursView"
                            ng-change="viewHours()">
                            <option value="">Check Different Time</option>
                        </select>
                    </div>

                    <div id="extraBtn">
                        <figure>
                            <a href="#/!">
                                <img src="img/booking.png" alt="Book now!">
                                <figcaption>Book Now!</figcaption>
                            </a>
                        </figure>
                        
                        <figure>
                            <a href="#!admin">
                                <img src="img/admin.png" alt="Manage Gym">
                                <figcaption>Manage Gym</figcaption>
                            </a>
                        </figure>
                    </div>
                </div>
            </div>
            <!-- 
                <div class="row justify-content-center" id="bookingRow">
                    <input type="text" ng-model="bookingName" placeholder="Enter name">
                    <input type="text" ng-model="bookingEmail" placeholder="Enter email">
                    <input type="text" ng-model="bookingPhoneNumber" placeholder="Enter phone number">
                    <button ng-click="bookHour()">Book</button>

                    Booking ID: {{bookingId}}<br>
                </div>
            </div> -->
        </div>
    </section>
</body>

</html>